<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalCenterTitle">Data processing conditions</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
					PERSONAL DATA PROCESSION AGREEMENT 

					<h3>1.GENERAL PROVISIONS</h3>
						<ul>
							<li>					1.1.The present Agreement governs the procedure of procession and protection of information about a physical person (being hereinafter referred to as User) using services of the website of <a href="https://www.ticketpro.by/"> www.ticketpro.by</a> (hereinafter – website) and services thereof  provided by the company of Ticketpro LLC, TIN 191120757 (being hereinafter referred to as Operator).  
							</li>
							<li>							1.2.The objective of the present Agreement is to ensure the sufficient level of information protection related to the Users, including their personal data, from unauthorized access and disclosure.
							</li>
							<li>							1.3. The present Agreement is a public offer that shall be made available to any Internet user.
							</li>
						</ul>
							
				
					<h3>2.   TERMS AND DEFINITIONS </h3>
					<ul>
							<li>					2.1.   Personal data of a physical person (being hereinafter referred to as Personal Data) – is an aggregation of basic and complementary personal data, as well as data containing details of documents affirming basic and complementary personal data of specific physical persons.
								</li>
							<li>							2.2.   Consent – is a consent of the User to handle personal data being pertinent to the User that constitute commercial secrets or any other secrets protected by law for the purpose of using the Site resources.
								</li>
							<li>							2.3. Operations – gathering, processing, storing, recording, systemizing, accumulating, adjusting (updates, amendments), retrieving, using, deleting information on the personal User data at the Site, all being in compliance with the requirements as provided for by law on information, informatization, and data protection.
								</li>
						</ul>
					
					<h3>3.  SUBJECT OF AGREEMENT</h3>
					<ul>
						<li>3.1.   The User shall submit information on the personal data to the Operator and shall consent to its free use by the Operator for the purposes and to the extent as provided for by the present Agreement.</li>
						<li>3.2.   The purpose of personal data protection shall be as follows: providing a service and executing contracts and agreements being entered into by the Operator and physical persons, providing information on the Operator to the User, arranging newsletters on the event, and in any other form that shall not infringe the effective law.
								The Operator requires personal data for newsletters on the event, for providing a technical support and any other support, as well as for marketing researches and analysis that help improve the service of the Operator </li>
					</ul>
					
							
					
					<h3>4. HANDLING USER PERSONAL DATA</h3>
					<ul>
						<li>						4.1.   The confirmation of the User consent shall be effective in the course of subscribing to newsletters to be distributed to the User at the Site, once the e-mail address was inserted into the Subscription box and the Subscribe button was pressed, which constitutes the consent of the User with regard to the present Agreement, as well as the consent to all the provisions of the Agreement and the unconditional acceptance thereof.
							</li>
						<li>4.2.   As set out in the present Agreement, the User shall submit and permit to handle the following personal data:
								<ul>
									<li>- Username,</li>
									<li>- User e-mail address.</li>
								</ul>
								
								By accepting the terms and conditions of the present Agreement, the User shall give consent to the Operator, its representatives and employees to process his/her personal data.</li>
						<li>							4.3 The following operations implicating personal data handling shall constitute personal data protection: gathering, recording, systemizing, accumulating, storing, adjusting (updates, amendments), retrieving, using, transferring (distribution), depersonalizing, deleting, erasing personal data.
							</li>
						<li>4.4.     This consent to personal data procession shall be effective without date, however, it may be revoked by the subject of personal data based on the personal application sent to the e-mail address: 
								<a href="mailto:sale@ticketpro.by">sale@ticketpro.by</a>	from the e-mail address registered for the receipt of newsletters.</li>
						<li>							4.5.   By accepting the terms and conditions of the present Agreement, the User shall consent to receive newsletters in the form of an e-mail distribution or in any other form that shall not infringe the effective law.
							</li>
						<li>							4.6.      The User shall have the right to request the update of his/her personal data from the Operator. The request shall be formalized by sending it to the e-mail address: <a href="mailto:sale@ticketpro.by">sale@ticketpro.by</a>. The User may opt out receiving electronic messages, by using the Unsubscribe link that may be found at the bottom of each e-mail. Based on the request, the User shall have the right to receive information related to the procession of personal data by the Operator.
						</li>
						<li>							4.7.     By accepting the terms and conditions of the present Consent and Policy, the User does confirm that valid personal data were submitted for the subscription to newsletters, and shall give his/her content to handle his/her personal data as well as the information being pertinent to the User, that constitute commercial secrets or other ones, to the Operating company of Ticketpro LLC, while all the requirements of the law on information, informatization, and data protection shall be complied with.
							</li>
						<li>							4.8.Should the data transfer be performed via the insecure communications channel, the Operator shall be exempt from any responsibility for the distortion and leakage of the personal data of the User, being related to the User proper and being pertinent to the commercial or any other secrets.
							</li>
						<li>							4.9.   The Operator shall not transfer information received from the User to third persons except for public authorities based on requests received from such authorities. The transfer of personal data to third parties shall not be deemed as a violation, providing that such third parties hold an agreement with the Operator, for the purpose of executing obligations towards the User within the framework of the present Agreement.
							</li>
						<li>							4.10.  The User shall accept the use of the cookies files policy being effective at the Site and shall consent that information on the IP-address and any other data on his/her data at the Site shall be handled. This information shall not be used to establish the identity of the User.
							</li>
						<li>							4.11.  In the course of processing personal data, the company shall take appropriate and sufficient organizational and technical arrangements to protect personal data from unauthorized access thereto, as well as from any other unlawful actions with regard to personal data.
							</li>
					</ul>
							
					
					
			</div>
			<div class="modal-footer">
				<a href="#" data-dismiss="modal" class="modal__a">Introduced</a>
			</div>
		  </div>
		</div>
	  </div>
