<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalCenterTitle">Условия обработки данных</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
					СОГЛАШЕНИЕ
НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ
 
 
	   <h3>1. ОБЩИЕ ПОЛОЖЕНИЯ</h3>
	   <ul>
		   <li>1.1.      Настоящее Соглашение определяет порядок обработки компанией ООО «Тикетпро» УНП 191120757(далее именуемое - Оператор) и защиты информации о физическом лице (далее именуемое - Пользователь), пользующимся услугами интернет-сайта <a href="https://www.ticketpro.by/"> ticketpro.by</a> (далее – Сайт) и его сервисов.  
			</li>
		   <li>1.2.      Целью настоящего Соглашения является обеспечение надлежащей защиты информации о Пользователях, в том числе их персональных данных, от несанкционированного доступа и разглашения.
			</li>
		   <li>1.3.      Данное Соглашение является публичной офертой и доступно любому пользователю сети Интернет.
			</li>
		</ul>
 
         <h3>2.  ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ </h3>
		<ul>
			<li>2.1.   Персональные данные физических лиц (далее - персональные данные) - совокупность основных и дополнительных персональных данных, а также данных о реквизитах документов, подтверждающих основные и дополнительные персональные данные конкретных физических лиц.
				</li>
			<li>2.2.   Согласие – согласие Пользователя на осуществление действий с персональными данными, информацией, касающейся Пользователя и относящейся к коммерческой или иной охраняемой законом тайне для целей использования ресурсов Сайта.
				</li>
			<li>2.3.   Действия – сбор, обработка, хранение, запись, систематизация, накопление, уточнение (обновление, изменение), извлечение, использование, удаление информации на Сайте о персональных данных Пользователя, с соблюдением требований, определенных законодательством об информации, информатизации и защите информации.
				</li>
		</ul>
 
 <h3>3. ПРЕДМЕТ СОГЛАШЕНИЯ </h3>
		
		<ul>
				<li>3.1.   Пользователь предоставляет Оператору информацию о персональных данных и дает согласие на ее безвозмездное использование Оператором для целей и в объеме, предусмотренных настоящим Соглашением.
					</li>
				<li>3.2.   Целью обработки персональных данных является: предоставление сервиса и исполнение договоров и соглашений, заключаемых Оператором с физическими лицами, предоставление Пользователю информации об Операторе, для проведения рассылок о мероприятии, в любой, не запрещенной действующим законодательством, форме.
						Персональные данные необходимы Оператору для информационных рассылок о мероприятии, предоставлять техническую и иную поддержку, а также для маркетинговых исследований и анализа, которые помогают улучшить сервис Оператора.</li>
			</ul>

 
 <h3>4. ДЕЙСТВИЯ С ПЕРСОНАЛЬНЫМИ ДАННЫМИ ПОЛЬЗОВАТЕЛЯ</h3>
 <ul>
		<li>4.1.   Подтверждение Согласия Пользователя осуществляется в процессе подписки для рассылки Пользователя на Сайтевмомент внесения своего электронного адреса в форму подписки и нажатие кнопки «Подписаться», означает подтверждение Пользователем своего согласия с Соглашением, а также согласие со всеми его условиями и безоговорочное их принятие.
			</li>
		<li>4.2.      Пользователь предоставляет и разрешает производить предусмотренные Соглашением действия со следующими персональными данными:
			<ul>
				<li>- Имя Пользователя,</li>
				<li>- Электронный адрес Пользователя.</li>
			</ul>
				
				
				Принимая условия настоящего Соглашения, Пользователь предоставляет согласие на обработку своих персональных данных Оператору, его представителям и работникам.
				4.3.      Под обработкой персональных данных подразумевается следующий перечень действий с персональными данными: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение), обезличивание, удаление, уничтожение персональных данных.</li>
		<li>4.4.      Данное согласие на обработку персональных данных действует бессрочно, но может быть отозвано субъектом персональных данных на основании личного заявления, направленного на e-mail <a href="mailto:sale@ticketpro.by">sale@ticketpro.by</a> с адреса, зарегистрированного для рассылки.
		</li>
		<li>4.5.      Принимая условия настоящего Соглашения, Пользователь соглашается с получением информационной рассылки в формате e-mailрассылки, иными путями, не запрещенными действующим законодательством.
			</li>
		<li>4.6.       Пользователь имеет право требовать от Оператора уточнения своих персональных данных. Требование должно быть заявлено путем отправки на e-mail <a href="mailto:sale@ticketpro.by">sale@ticketpro.by</a>. Пользователь также может отказаться от получения электронных сообщений, используя ссылку «Отписаться», расположенную в конце каждого письма. На основании запроса получать от Оператора информацию, касающуюся обработки его персональных данных.
		</li>
		<li>4.7.      Принимая условия настоящего Согласия и Положения, Пользователь подтверждает, что при подписке для рассылки Пользователь указал достоверные персональные данные, даёт своё согласие на осуществление действий со своими персональными данными, а также с информацией, касающейся Пользователя и относящейся к коммерческой или иной тайне, Оператором – ООО «Тикетпро» с соблюдением требований, определенных законодательством об информации, информатизации и защите информации.
			</li>
		<li>4.8.      Оператор не несет никакой ответственности за искажение и утечку персональных данных Пользователя, информации, касающейся Пользователя и относящейся к коммерческой или иной тайне, по незащищённому каналу связи.
			</li>
		<li>4.9.   Оператор обязуется не передавать полученную от Пользователя информацию третьим лицам, за исключением, государственных органов на основании их запросов. Не считается нарушением предоставление персональных данных третьим лицам, действующим на основании договора с Оператором, для исполнения обязательств перед Пользователем и только в рамках настоящего Соглашения.
			</li>
		<li>4.10.  Пользователь принимает политику использования файлов cookies, используемую на Сайте, и даёт согласие на получение информации об IP-адресе и иных сведений о его активности на Сайте. Данная информация не используется для установления личности Пользователя.
			</li>
		<li>4.11.  Компания при обработке персональных данных принимает необходимые и достаточные организационные и технические меры для защиты персональных данных от неправомерного доступа к ним, а также от иных неправомерных действий в отношении персональных данных.
		</li>
	</ul>

 
			</div>
			<div class="modal-footer">
				<a href="#" data-dismiss="modal" class="modal__a">Ознакомлен</a>
			</div>
		  </div>
		</div>
	  </div>
