<div class=" small-mod modal fade" id="small-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  <div class="modal-content">
			<div class="modal-body">
			<h1 class="text-center">Спасибо за подписку!</h1>
			</div>
		</div>
		</div>
	  </div>
