$while: #fff;

$gray-ligth: #dadada;
$dark-gray:	#696969;
$darkness-gray: #707070;
$gray-lite: #d8d8d8;
$black: #000;
$blue: #0078c1;

$orange: #fb8e30;
$orange-ligth: #fbb130;

$orange-bg: #ef7502;
$green-bg: #82bb24;
$blue-bg:  #0078c1;
$red-bg:  #e11b2c;


$language-link: #5c5c5c;
$nav-link: #0080c7;
