.wrapper {
	// max-width: 1920px;
	margin: 0 auto;
	color: $darkness-gray;
	text-align: center;
}

.top-panel {
	height: 50px;
	border-bottom: solid 1px $gray-ligth;
	font-size: 13px;
	line-height: 50px;
}

.top-panel__language-switch {
	float: left;
	text-align: left;
	text-transform: uppercase;
}

.language-switch-a {
	color: $language-link;
	text-decoration: none;
}

.language-switch-a:hover,
.language-switch-a:focus {
	color: $darkness-gray;
	text-decoration: underline;
}

.language-switch__line {
	display: inline-block;
	margin: 0 11px;
}

.top-panel__link-box {
	display: block;
	float: right;
	text-align: right;

	a {
		position: relative;
		margin-left: 15px;
		color: $nav-link;
		text-decoration: none;

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			bottom: -2px;
			left: 0;
			width: 100%;
			height: 1px;
			margin: 0 auto;
			transition: width .3s;
			background: $nav-link;
		}

		&:hover,
		&:focus {

			&:after {
				width: 0;
			}
		}
	}

	@media screen and (max-width: 576px) {
		float: none;
	}
}

.header {
	padding: 0 0 75px;
	background: url('../img/header-bg-left.png') no-repeat left 15px, $while url('../img/header-bg-right.png') no-repeat right 5px;

	@media screen and (max-width: 1820px) {
		background-size: 500px  auto;
	}

	@media screen and (max-width: 1440px) {
		background-size: 400px  auto;
	}

	@media screen and (max-width: 1200px) {
		background-size: 300px  auto;
	}

	@media screen and (max-width: 900px) {
		background-size: 230px  auto;
	}

	@media screen and (max-width: 768px) {
		background-size: 200px  auto;
	}

	@media screen and (max-width: 704px) {
		background-size: 150px  auto;
	}

	@media screen and (max-width: 600px) {
		background: none;
	}
}

.header__h1 {
	margin: 24px 0 5px;
	color: $blue;
	font-weight: bold;
}

.header__h2 {
	color: $black;
	font-size: 1.2em;
	font-weight: bold;
}

.header__descriptions {
	width: 670px;
	height: 160px;
	margin: 35px auto 45px;
	background: url('../img/header-bg-1.png') no-repeat left 15px ,
	url('../img/header-bg-2.png') no-repeat 160px 20px,
	url('../img/header-bg-3.png') no-repeat 330px top,
	url('../img/header-bg-4.png') no-repeat 485px top;
	color: $while;
	text-align: left;

	@media screen and (max-width: 769px) {
		width: 100%;
		max-width: 522px;
		height: 100%;
		background: url('../img/header-bg-1.png') no-repeat left 15px ,
	url('../img/header-bg-2.png') no-repeat 125px 20px,
	url('../img/header-bg-3.png') no-repeat 250px top,
	url('../img/header-bg-4.png') no-repeat right top;
		background-size: 150px;
	}

	@media screen and (max-width: 600px) {
		width: 100%;
		background: url('../img/header-bg-1.png') no-repeat left 15px ,
	url('../img/header-bg-2.png') no-repeat 130px 20px,
	url('../img/header-bg-3.png') no-repeat 260px top,
	url('../img/header-bg-4.png') no-repeat right top;
		background-size: 140px;
	}
}

@media screen and (max-width: 768px) {
	.box-1 {
		padding-top: 35px;
		padding-left: 40px;
	}

	.box-2 {
		padding-top: 50px;
		padding-left: 30px;
	}

	.box-3 {
		padding-top: 20px;
		padding-left: 52px;
		text-align: left;
	}

	.box-4 {
		height: auto;
		padding-top: 45px;
		padding-right: 5px;
		background: none;
	}
}

@media screen and (max-width: 769px) {
	.header__descriptions {
		overflow: hidden;
		background: none;
	}

	.descriptions__box {
		display: inline-block;
		width: 45%;
		margin: 2.5%;
		border-radius: 5px;
	}

	.box__number {
		font-size: 40px;
	}

	.box__text,
	.box__text-kinds {
		font-size: 14px;
	}

	.box-1,
	.box-2,
	.box-3,
	.box-4,
	.box-4-ru,
	.box-3-en,
	.box-3-ru,
	.box-4-en {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 146px;
		padding: 5px;
		text-align: center;
	}

	.box-1 {
		background-color: $orange-bg;
	}

	.box-2 {
		background-color: $green-bg;
	}

	.box-3 {
		background-color: $blue-bg;
	}

	.box-4 {
		background-color: $red-bg;
		font-size: 30px;
	}

	.box-3-ru {
		background-color: $blue-bg;
		text-align: center;

	}

	.box-4-en {
		background-color: $red-bg;
		font-size: 30px;
	}

	.main__content {
		text-align: justify;
	}

	.footer {
		padding: 35px 0;
	}

	.footer__logo-wrap {
		margin-bottom: 25px;
		padding: 0;
		float: none;
		text-align: center;
	}


	.footer__contact_info {
		padding: 0;
		float: none;
		text-align: center;
	}
}

.box-1,
.box-2,
.box-3,
.box-4 {
	padding: 40px 0;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.box__number {
		font-size: 40px;
	}
}

@media screen and (max-width: 420px) {
	.top-panel {
		height: auto;
		padding: 15px 0;
		line-height: 1.5;
	}

	.top-panel__language-switch {
		margin-bottom: 15px;
		float: none;
		text-align: center;
	}

	.top-panel__link-box {
		float: none;
		text-align: center;
	}
}

@media screen and (max-width: 530px) {
	.header__h1 {
		font-weight: normal;
	}

	.header__time {
		width: 100%;
	}

	.time__col {
		padding: 0 5px;
	}

	.box-4 .box__number {
		font-size: 25px;
	}
}

@media screen and (max-width: 425px) {
	.main__content {
		text-align: center;
	}
}

.descriptions__box {
	width: 24%;
	height: 100%;
	float: left;
	text-align: center;
}

.box__number {
	display: block;
	padding-bottom: 3px;
	font-size: 50px;
	font-weight: bold;
}

.box__text {
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.box__text-cointries {
	display: block;
	padding-left: 15px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;

	@media screen and (max-width: 769px){
		padding-left: 0;
	}
}

.box__text-kinds {
	display: block;
	padding-left: 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 15px;
	text-transform: uppercase;


	@media screen and (max-width: 769px){
		padding-left: 0;
	}
}

.box-1 {
	padding-top: 45px;
	padding-left: 45px;
}

.box-2 {
	padding-top: 80px;
	padding-left: 30px;
}

.box-3 {
	padding-top: 40px;
	padding-left: 70px;
	text-align: left;

	.box__text {
		line-height: 15px;
	}

	.box__number {
		margin-bottom: 5px;
	}
}

.box-3-ru {
	padding-top: 40px;
	padding-left: 80px;
	text-align: left;

	.box__text {
		line-height: 15px;
	}

	.box__number {
		margin-bottom: 5px;
	}
}

.box-4 {
	padding-top: 45px;
	padding-left: 40px;
	font-size: 40px;
	text-align: center;
}

.box-4-en {
	padding-top: 50px;
	padding-left: 40px;
}

.box-4 .box__number {
	font-size: 40px;
}

.box-4 .box__text {
	line-height: 20px;
	padding-right: 5px;
}

.header__time {
	padding: 15px 10px 0;
	height: 120px;
	display: inline-block;
	border: solid 1px $gray-lite;
	border-radius: 8px;
	margin: 0 auto;
	text-align: center;
}

.header__time-h {
	font-weight: normal;
	font-size: 18px;
}

.time__col {
	display: inline-block;
	margin-top: 5px;
	padding: 0 14px;
	border-right: solid 1px $gray-lite;

}

.col__number {
	display: block;
	color: $black;
	font-size: 34px;
	font-weight: bold;
}

.col__text {
	font-size: 16px;
}

.main {
	background: url('../img/main-bg.png') no-repeat bottom;
	background-size: cover;
}

.container-main {
	max-width: 834px;
	margin: 0 auto;
	padding: 0 15px;
}

.main__h1 {
	margin: 22px 0 40px;
	color: $blue;
	font-weight: bold;
	text-transform: uppercase;


	@media (max-width: 445px) {
		font-size: 30px;
	}
}

.main__content {
	text-align: left;
}

.main__line {
	width: 202px;
	height: 2px;
	margin-top: 38px;
	margin-bottom: 34px;
	border: 0;
	background-color: $dark-gray;
}

.main__content-bootom-text {
	color: $blue;
}

.main__form {
	margin: 44px 0;
	text-align: left;
}

.main__form_button {
	width: 146px;
	height: 40px;
	border-style: none;
	border-radius: 5px;
	background-image: linear-gradient(131deg, $orange-ligth, $orange);

	@media (max-width: 768px) {
		margin: 10px auto;
		float: none;
	}
}

.main__form_button:hover,
.main__form_button:active,
.main__form_button:focus {
	opacity: .8;
}
.main__bootom-text-agreement {
	font-size: 14px;
}

.main__bottom-text-agree {
	margin-bottom: 76px;
	text-align: left;
}
.main-form-input {
	width: 227px;
	height: 40px;
	margin-right: 18px;
	display: inline-block;
}

@media (max-width: 768px) {
	.main-form-input,
	.main__form_button {
		margin-bottom: 5px;
		display: block;
		width: 100%;
	}
}

.footer {
	padding: 35px 0 50px;
	background: url('../img/footer-bg.png') no-repeat;
	background-size: cover;
}

.footer__logo-wrap {
	padding: 10px;
	float: left;
}


.footer__contact_info {
	padding: 0 62px 5px 0;
	float: right;
	color: #545454;
	font-size: 14px;
	line-height: 1.47;
	text-align: left;

	@media (max-width: 576px) {
		margin: 10px auto;
		float: none;
		text-align: center;
	}
}

.contact_info_text {
	display: block;
	margin-top: 2px;

	a {
		color: #545454;
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			color: #545454;
			text-decoration: underline;
		}
	}
}

.no-border {
	border: 0;
}

.modal-body {
	max-height: 500px;
	overflow-y: scroll;
}

.small-mod {
	.modal-body {
		max-height: 320px;
		overflow-y: hidden;
	}
}

.modal-footer {
	font-size: 18px;
	text-align: center;
}

.modal__a {
	display: block;
	margin: 0 auto;
	text-decoration: underline;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 800px;
	}
}

.modal-title {
	padding-left: 60px;
	font-size: 22px;

	@media screen and (max-width: 425px) {
		padding-left: 0;
}
}

.modal-body {
	padding: 30px 64px;
	color: $darkness-gray;
	font-size: 16px;

	@media screen and (max-width: 425px) {
		padding: 30px 15px;

}

}

.modal-footer {
	padding-top: 30px;
	padding-bottom: 40px;
	border: 0;
}

.language-switch-a-active {
	color: $nav-link;
	text-decoration: underline;
}

@media screen and (max-width: 425px) {

	.modal-footer {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.modal-body {
	ul {
		li {
			list-style-type: none;
		}
	}
}

* {
	outline: 0 !important;
}

.btn:focus,
.btn:active,
.form-control:focus,
.form-control:active {
	outline: none !important;
	box-shadow: none !important;
  }

input,
textarea {
	outline: none;
}

input:active,
textarea:active {
	outline: none;
}

:focus {
	outline: none;
}

textarea {
	resize: horizontal;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder {
	color:transparent;
}

input:focus:-ms-input-placeholder {
	color:transparent;
}
